@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');
/* CSS 초기화 */
* {
  margin: 0px;
  padding: 0px;
}

ul,
ol {
  list-style: none;
}

a {
  outline: 0;
  text-decoration: none;
}

img {
  border: 0;
}

body {
  font: 17px/1.4 'orbitron';
  letter-spacing: 1px;
  color: #ddd;
  background: #000;
}

.wrap {
  position: fixed;
  width: 100%;
  height: 100%;
  perspective: 1300;
}

/* .wrap > video 대신 이미지 사용  */
.wrap > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: fixed;
  opacity: 0.5;
}

.wrap #circle {
  width: 600px;
  height: 800px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid aqua;
}

.wrap #circle article {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.4);
}

.wrap #circle article {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  display: none;
}
.wrap #circle article h1 {
  position: absolute;
  left: 0px;
  top: 0px;
  font-size: 30px;
  opacity: 0;
  transition: all 0.5s;
}

/* article hover 시 제목이 위로서서히 나타남 */
.wrap #circle article:hover h1 {
  top: -60px;
  opacity: 1;
}
.wrap #circle article .inner {
  width: 100%;
  height: 100%;
}
.wrap #circle article .inner > div {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.06);
  padding: 50px;
  position: relative;
  opacity: 0.7;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.5s;
}
/* hover 시 div박스 약간 진하게 활성화 및 확대 */
.wrap #circle article .inner > div:hover {
  background: rgba(255, 255, 255, 0.15);
  transform: scale(1.03);
  opacity: 1;
}

/* 공통 */
.wrap #circle article .inner > div:hover i {
  color: lightcyan;
  text-shadow: 0 0 10px aqua;
  transform: scale(1.2);
  transition: all 0.5s;
}

/* 1번째 컨텐츠 박스 설정 */
/* .wrap #circle .face1 {
  display: block;
} */
.wrap #circle .face1 .inner > div {
  width: 290px;
  height: 254px;
  float: left;
  margin-bottom: 20px;
  text-align: center;
}
.wrap #circle .face1 .inner > div p i {
  font-size: 100px;
  transition: all 0.5s;
  opacity: 0.7;
}
.wrap #circle .face1 .inner > div h2 {
  margin-top: 20px;
  letter-spacing: 2px;
  transition: all 0.5s;
}
.wrap #circle .face1 .inner > div:nth-of-type(odd) {
  margin-right: 20px;
}
.wrap #circle article .inner > div:hover h2 {
  color: lightcyan;
  text-shadow: 0 0 10px aqua;
}

/* 2번째 컨텐츠 박스 설정 */
/* .wrap #circle .face2 {
  display: block;
} */
.wrap #circle .face2 .inner > div {
  width: 100%;
  height: 100%;
}
.wrap #circle .face2 .inner > div img {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 40px;
}
.wrap #circle .face2 .inner > div h3 {
  color: #fff;
  margin-bottom: 20px;
}
.wrap #circle .face2 .inner > div p {
  font: 18px/1.3 'arial';
  color: #ccc;
}

/* 3번째 컨텐츠 박스 설정 */
/* .wrap #circle .face3 {
  display: block;
} */
.wrap #circle .face3 .inner > div {
  width: 100%;
  height: 253px;
  margin-bottom: 20px;
}
.wrap #circle .face3 .inner > div .pic {
  width: 120px;
  height: 120px;
  background-repeat: no-repeat;
  background-position: center top;
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid #fff;
  float: left;
  position: relative;
  top: 15px;
  background-size: cover;
}
/* 배경으로 프로필 이미지 처리 */
.wrap #circle .face3 .inner > div:nth-of-type(1) .pic {
  background-image: url(../images/member1.jpg);
}
.wrap #circle .face3 .inner > div:nth-of-type(2) .pic {
  background-image: url(../images/member2.jpg);
}
.wrap #circle .face3 .inner > div:nth-of-type(3) .pic {
  background-image: url(../images/member3.jpg);
}
.wrap #circle .face3 .inner > div .con {
  width: 340px;
  float: right;
}
.wrap #circle .face3 .inner > div .con h2 {
  color: #fff;
}
.wrap #circle .face3 .inner > div .con p {
  font: 18px/1.3 'arial';
  color: #ddd;
  margin-top: 20px;
}
.wrap #circle .face3 .inner > div .con span {
  position: absolute;
  bottom: 50px;
  right: 50px;
  font: 12px/1 'orbitron';
  color: aqua;
  opacity: 0.5;
}

/* 4번째 컨텐츠 박스 설정 */
/* .wrap #circle .face4 {
  display: block;
} */
.wrap #circle .face4 .inner > div p {
  font: 16px/1.3 'arial';
  color: #bbb;
  margin-top: 20px;
}
.wrap #circle .face4 .inner > div:nth-of-type(1) {
  width: 100%;
  height: 600px;
  margin-bottom: 20px;
}
.wrap #circle .face4 .inner > div:nth-of-type(1) video {
  width: 100%;
  border: 1px solid #fff;
  margin-bottom: 30px;
}
.wrap #circle .face4 .inner > div:nth-of-type(2) {
  width: 100%;
  height: 180px;
}
.wrap #circle .face4 .inner > div:nth-of-type(2) p {
  float: left;
}
.wrap #circle .face4 .inner > div:nth-of-type(2) em {
  float: right;
  font-size: 12px;
  color: #ccc;
  margin-top: 23px;
}

/* 5번째 컨텐츠 박스 설정 */
/* .wrap #circle .face5 {
  display: block;
} */
.wrap #circle .face5 .inner > div {
  width: 100%;
  height: 100%;
}
.wrap #circle .face5 .inner > div img {
  margin-bottom: 40px;
}
.wrap #circle .face5 .inner div .pic {
  width: 100%;
  height: 250px;
  border: 1px solid #bbb;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.3) url(../images/aboutMe.jpg) no-repeat top
    center/cover;
  margin-bottom: 50px;
}
.wrap #circle .face5 .inner > div h3 {
  color: #fff;
  margin-bottom: 20px;
}
.wrap #circle .face5 .inner > div p {
  font: 18px/1.3 'arial';
  color: #ccc;
}
.wrap #circle .face5 .inner > div a {
  display: block;
  width: 180px;
  height: 32px;
  margin: 40px auto 20px;
  font-weight: bold;
  font-size: 15px;
  font-family: 'arial';
  color: #fff;
  line-height: 32px;
  text-align: center;
  border: 3px solid #fff;
}
.wrap #circle .face5 .inner > div:hover a {
  color: lightcyan;
  text-shadow: 0 0 10px aqua;
  transform: scale(1.2);
  transition: all 0.5s;
  border: 3px solid lightcyan;
}

/* 6번째 컨텐츠 박스 설정 */
/* .wrap #circle .face6 {
  display: block;
} */
.wrap #circle .face6 .inner > div {
  width: 100%;
  height: 185px;
  margin-bottom: 20px;
}
.wrap #circle .face6 .inner > div i {
  width: 22px;
  height: 100%;
  border-right: 1px solid #bbb;
  float: left;
  font-size: 50px;
  color: #fff;
  position: relative;
  text-align: left;
  line-height: 90px;
  box-sizing: border-box;
  padding-left: 15px;
}
.wrap #circle .face6 .inner > div .con {
  width: 75%;
  height: 100%;
  box-sizing: border-box;
  padding-left: 40px;
  float: right;
}
.wrap #circle .face6 .inner > div .con p {
  font: 18px/1 'arial';
  color: #999;
}
/* 7번째 컨텐츠 박스 설정 */
.wrap #circle .face7 {
  display: block;
}
.wrap #circle .face7 .inner > div {
  width: 100%;
  height: 100%;
}
.wrap #circle .face7 .inner > div > div {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  border: 1px solid #aaa;
  box-sizing: border-box;
}
/* .wrap #circle .face7 .inner > div > div video 대신 img 사용 */
.wrap #circle .face7 .inner > div > div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.9;
}
.wrap #circle .face7 .inner > div > div h2 {
  position: absolute;
  top: 140px;
  left: 50px;
  font-size: 40px;
  color: #fff;
  text-align: left;
  line-height: 1.1;
  text-shadow: 2px 2px 5px #555;
  z-index: 2;
}
